<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
</head>
<body>
    <main>
        <header>
            <h1>Login OAuth with Passport.js</h1>
        </header>
        <section>
            <%- body %>
        </section>
    </main>
</body>
</html>